/* ALL */

h1{
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

p{
    color: #fff;
    text-align: center;
    margin: 1rem;
}

body{
    background: rgba(0, 0, 0, 0.882);
    font-family: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/*  FIN ALL */

a, .btn {
    transition: all 300ms ease;
}

nav, .nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: #fff;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #fff;
}

/* Menu burger */

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: default;
}

#hamburger-nav{
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #676767;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

/* .hamburger-icon.open span:first-child{
    transform: none;
}

.hamburger-icon.open span:first-child{
    opacity: 1;
}

.hamburger-icon.open span:first-child{
    transform: none;
} */


/* presentation */




/* competences */
/* parcours */
/* projets */
/* contact */


.contact-form{
    max-width: 650px;
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 1rem;
    background-color: #8982a321;
    padding: 30px;
    border-radius: 1.5rem;
}

.contact-form input, .contact-form textarea{
    outline: auto;
    font-size: 0.9rem;
    padding: 15px;
    color: rgb(0, 0, 0);
    background: whitesmoke;
    border-radius: 0.4rem;
    box-shadow:  .3em .3em rgba(121, 121, 121, 0.258);
}

.contact-form .send-btn{
    width: 120px;
    color: #000000;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    background: whitesmoke;
    cursor: pointer;
}

.contact-form .send-btn:hover{
    width: 120px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    box-shadow:  1em .6em rgba(121, 121, 121, 0.285);
    transform: scale(1.05);
    color: #000000;
    cursor: pointer;
}

.contact-form input:hover, .contact-form textarea:hover{
    outline: auto;
    font-size: 0.9rem;
    padding: 15px;
    color: #000000;
    border-radius: 0.4rem;
    box-shadow: inset 1em .6em rgba(121, 121, 121, 0.232);
    transform: scale(.95);
}

/* footer */

.footer{
    text-align: center;
}